body{
    @include size(100% null 400px);
    background: $white;
    font-family: Helvetica,"Malgun Gothic","Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
    font-size: $font-size-base;
    line-height: 1;
    color: $font-color-base;
}

.hidden{
    display: none;
}
