@import '@sass/helpers/_variables.scss';
@import '@sass/helpers/_extends.scss';
@import '@sass/helpers/_mixins.scss';

@import '@sass/components/_button.scss';

.main{
    @include padding(20px);
}

.main .ride-list{
    @include margin(top 20px);
    @include padding(left 14px);

    li{
        @include margin(top 20px);
        @include padding(16px 0 16px 24px);
        @include border(1px solid $blue-600);
        @include border-radius(15px);
        @include box-sizing(border-box);
        position: relative;
        line-height: 19px;

        a{
            @extend %reset-link;
        }

        .ride-attend{
            @include button(blue-fill-600, null, 4px);
            @include size(80px, 28px);
            position: absolute;
            top: -14px;
            left: -14px;
            font-weight: bold;
            font-size: 12px;
            line-height: 28px;
            text-align: center;
        }

        .ride-header{
            overflow: hidden;
        }

        .ride-title{
            @include size(calc(100% - 60px));
            @include padding(0 20px 4px 0);
            @include box-sizing(border-box);
            @include truncate();
            float: left;
            font-weight: bold;
            font-size: $font-size-base;
            line-height: 24px;
            color: $red;
            text-align: right;
        }

        .ride-difficulty{
            @include size(60px, 24px);
            @include margin(right -1px);
            @include button(blue-fill);
            @include border-radius(4px 0 0 4px);
            float: right;
            font-size: $font-size-small;
            line-height: 24px;
            text-align: center;
        }

        .ride-detail{
            @include margin(top 10px);
            overflow: hidden;
            font-size: $font-size-small;
            line-height: 19px;
            color: $font-color-base;

            span{
                float: left;
            }

            span::after{
                @include size(1px, 13px);
                @include margin(2px 6px 0);
                float: right;
                background: $gray;
                content: '';
            }

            span:last-child::after{
                display: none;
            }
        }

        .ride-address{
            @include margin(top 4px);
            @include truncate();
            font-size: $font-size-small;
            line-height: 19px;
            color: $font-color-base;
        }
    }
}
