%checkbox-default{
    @include size(20px, 20px);
    @include margin(0);
    @include padding(0);
    @include border(1px solid $border-color-base);
    @include prefix(appearance, none);
    background-color: $white !important;
    outline: none;
    cursor: pointer;

    &:checked{
        @include background('/images/desktop/global/checkbox_icon.svg', no-repeat, center center);
        background-size: 15px 13px;
    }

    &.parsley-error{
        @include border(1px solid $red);
    }
}

@mixin checkbox(){
    @extend %checkbox-default;
}
