%file-default{
    overflow: hidden;

    .file-name{
        @include margin(right 10px);
        float: left;
        width: calc(100% - 110px) !important;
        height: 45px;
    }

    .file-label{
        @include size(100px, 45px);
        @include border(1px solid $border-color-base);
        @include border-radius(4px);
        @include box-sizing(border-box);
        float: left;
        background: $light-gray;
        font-size: $font-size-base;
        line-height: 43px;
        color: $font-color-base;
        text-align: center;
    }

    .file-input{
        display: none;
    }
}

@mixin file(){
    @extend %file-default;
}
