%input-default{
    @include box-sizing(border-box);
    @include padding(0 20px);
    @include border(0);
    @include border-radius(0);
    font-size: $font-size-base;
    color: $font-color-base;
    outline: none;

    &::placeholder{
        color: $gray-900;
    }

    &:disabled{
        background: $light-gray-600
    }
}

%input-focus-default{
    &:focus{
        @include padding(left 19px);
        @include border(1px solid $gray-600);
    }
}

@mixin input($focus: null, $bg-color: null){
    @extend %input-default;


    @if $focus == focus {
        @extend %input-focus-default;
    }

    @if $bg-color != null {
        background-color: $light-gray;
    }
}
