%textarea-default{
    @include padding(12px 20px);
    @include box-sizing(border-box);
    display: block;
    font-size: $font-size-base;
    color: $font-color-base;
    outline: none;
    resize: none;

    &::placeholder{
        color: $gray-900;
    }
}


@mixin textarea($border: null, $radius: null){
    @extend %textarea-default;

    @if $border != null {
        @include border($border);
    }
    @else {
        @include border(1px solid $border-color-base);
    }

    @if $radius != null {
        @include border-radius($radius);
    }
    @else {
        @include border-radius(4px);
    }
}
