%textarea-default{
    @include padding(12px 20px);
    @include border(0);
    @include box-sizing(border-box);
    display: block;
    background: $light-gray;
    font-size: $font-size-base;
    color: $gray-600;
    outline: none;
    resize: none;

    &::placeholder{
        color: $gray-900;
    }
}


@mixin textarea(){
    @extend %textarea-default;
}
