@import '@sass/helpers/_variables.scss';
@import '@sass/helpers/_extends.scss';
@import '@sass/helpers/_mixins.scss';

@import '@sass/components/_button.scss';

.main .map-container{
    @include size(100%, 360px);
    background: red;
}

.main .main-container{
    @include padding(bottom 30px);
    overflow: hidden;

    .ride-header{
        @include margin(top 10px);
        overflow: hidden;

        .ride-difficulty{
            @include size(auto, 36px);
            @include margin(right -1px);
            @include padding(0 15px);
            @include button(blue-fill);
            @include border-radius(0 4px 4px 0);
            float: left;
            font-size: $font-size-base;
            line-height: 36px;
            text-align: center;
        }
    }

    .ride-content{
        @include padding(0 20px);

        .content-group{
            @include margin(top 16px);
            @include padding(0 8px 16px);
            @include border(1px solid $gray-600, bottom);
            overflow: hidden;
        }

        ul li{
            @include margin(top 12px);
            overflow: hidden;
            font-size: $font-size-base;
            line-height: 16px;

            &:first-child{
                @include margin(top 0);
            }

            > span{
                @include size(72px);
                float: left;
                font-size: $font-size-small;
                color: $gray-600;
            }

            p{
                @include size(calc(100% - 72px));
                float: left;
            }
        }

        .ride-title h2{
            @include size(null, max 72px);
            overflow: hidden;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: $page-color;
        }

        .ride-map{
            .btn-download{
                @include button(page-border, 1px solid $page-color);
                @include size(100%, 40px);
                @include margin(10px auto 0);
                @include padding(0 20px);
                font-size: $font-size-base;
                line-height: 40px;
                text-align: center;
            }
        }

        .ride-description{
            p{
                font-size: $font-size-small;
                line-height: 16px;
                color: $gray-600;
            }
        }

        .ride-capacity{
            > div{
                @include margin(right 12px);
                float: left;
            }

            > div::before{
                @include size(1px, 12px);
                @include margin(1px 0 0 12px);
                float: right;
                background: $gray;
                content: '';
            }

            > div:last-child::before{
                display: none;
            }
        }
    }

    .btn-area{
        @include margin(top 24px);

        .btn-attend{
            @include button(page-fill, 0);
            @include size(auto, 40px);
            @include margin(0 auto);
            @include padding(0 20px);
            font-size: $font-size-base;
            line-height: 40px;
        }
    }
}
