// color
$page-color: rgb(26, 188, 156);
$bg-gray: rgb(51, 51, 51);

$white: #fff;

$red: #ff7777;
$red-600: #c93030;

$gray: #333;
$gray-400: #444;
$gray-600: #666;
$gray-700: #7e7e7e;
$gray-800: #888;
$gray-900: #999;

$light-gray: #f6f6f9;
$light-gray-600: #ddd;

// border color
$border-color-base: #d8d8d8;

// font
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-color-base: #333;

$font-family-base: '';

// screen
$screen-size: 100%;
